/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        scroll_sensor: scroll_sensor {
            compatible = "zmk,behavior-sensor-rotate";
            label = "SCROLL_SENSOR";
            #sensor-binding-cells = <0>;
            bindings = <&msc MOVE_Y(10)>, <&msc MOVE_Y(-10)>;

            tap-ms = <125>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "base";
            label = "base";

            // ------------------------------------------------------------------------------------------------------------
            // |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE      &kp N1  &kp N2            &kp N3        &kp N4        &kp N5                                        &kp N6       &kp N7         &kp N8         &kp N9         &kp N0    &kp BACKSPACE
&kp TAB        &kp Q   &kp W             &kp E         &kp R         &kp T                                         &kp Y        &kp U          &kp I          &kp O          &kp P     &kp BACKSLASH
&mt LCTRL ESC  &kp A   &kp S             &kp D         &lt 1 F       &kp G                                         &kp H        &kp J          &kp K          &kp L          &kp SEMI  &kp APOS
&kp LSHFT      &kp Z   &kp X             &kp C         &kp V         &kp B         &kp C_MUTE    &kp C_PLAY_PAUSE  &kp N        &kp M          &kp COMMA      &kp DOT        &kp FSLH  &mo 2
                       &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI  &lt 1 RETURN  &trans        &trans            &lt 1 SPACE  &kp BACKSPACE  &kp RIGHT_GUI  &kp RIGHT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>, <&scroll_sensor>;
        };

        lower_layer {
            display-name = "lower";
            label = "low";

            // ------------------------------------------------------------------------------------------------------------
            // | `     |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | RAISE |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&trans  &trans  &trans  &trans  &trans     &trans                              &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans     &trans                              &trans    &trans    &trans  &trans     &trans  &trans
&trans  &trans  &trans  &trans  &kp MINUS  &kp LS(MINUS)                       &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &trans  &trans
&trans  &trans  &trans  &trans  &kp EQUAL  &kp LS(EQUAL)  &trans    &mkp LCLK  &kp LBKT  &kp RBKT  &trans  &trans     &trans  &trans
                &trans  &trans  &trans     &trans         &trans    &trans     &trans    &trans    &trans  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp DOWN_ARROW UP_ARROW>;
        };

        special {
            display-name = "special";
            label = "special";
            bindings = <
&kp RS(GRAVE)    &kp RS(N1)  &kp RS(N2)   &kp RS(N3)  &kp RS(N4)  &kp RS(N5)                    &kp RS(N6)  &kp RS(N7)      &kp RS(N8)      &kp RS(N9)  &kp RS(N0)       &kp BACKSPACE
&bt BT_NXT       &trans      &trans       &trans      &trans      &trans                        &trans      &trans          &kp UP_ARROW    &kp UP      &trans           &trans
&trans           &trans      &trans       &trans      &trans      &trans                        &trans      &kp LEFT_ARROW  &kp LEFT        &kp RIGHT   &kp RIGHT_ARROW  &trans
&trans           &trans      &trans       &trans      &trans      &trans      &trans    &trans  &trans      &trans          &kp DOWN_ARROW  &kp DOWN    &trans           &trans
                             &trans       &trans      &trans      &trans      &trans    &trans  &trans      &trans          &trans          &trans
            >;
        };
    };
};
